.w3-theme-l5 {color:#000 !important; background-color:#eaf3f8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#b8d7e7 !important}
.w3-theme-l3 {color:#fff !important; background-color:#71b0d0 !important}
.w3-theme-l2 {color:#fff !important; background-color:#3883a9 !important}
.w3-theme-l1 {color:#fff !important; background-color:hsl(200, 50%, 16%) !important}
.w3-theme-d1 {color:#fff !important; background-color:#081318 !important}
.w3-theme-d2 {color:#fff !important; background-color:#071115 !important}
.w3-theme-d3 {color:#fff !important; background-color:#060f13 !important}
.w3-theme-d4 {color:#fff !important; background-color:#050c10 !important}
.w3-theme-d5 {color:#fff !important; background-color:#040a0d !important}

.w3-theme-light {color:#000 !important; background-color:#eaf3f8 !important}
.w3-theme-dark {color:#fff !important; background-color:#040a0d !important}
.w3-theme-action {color:#fff !important; background-color:#040a0d !important}

.w3-theme {color:#fff !important; background-color:#09151b !important}
.w3-text-theme {color:#09151b !important}
.w3-border-theme {border-color:#09151b !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#09151b !important}
.w3-hover-text-theme:hover {color:#09151b !important}
.w3-hover-border-theme:hover {border-color:#09151b !important}