<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="shortcut icon" href="{{url_for('static', filename='icon.png')}}" type="image/x-icon">
  <title>Quick Snippets - {{title}}</title>
</head>

<body class="w3-theme-dark">
  <div class="w3-bar w3-large w3-theme-l1">
    <a href="{{url_for('index')}}" class="w3-hover-theme w3-bar-item" style="text-decoration: none;">Quick Snippets</a>
    <a href="{{url_for('new_snippet')}}" class="w3-hover-theme w3-bar-item" style="text-decoration: none;">New Snippet</a>
    <!-- <a href="#" class="w3-bar-item" style="text-decoration: none;">Home</a> -->
  </div>
  <div class="w3-container">
    {% block content %}
    {% endblock content %}
  </div>
  </div>
</body>

</html>