{% extends 'base.html' %}
{% block content %}
<style>
  ul {
    list-style: none;
  }
  .snippets > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  }
</style>
<h1 class="w3-center w3-text-theme w3-round-large">Welcome to Quick Snippets!</h1>
<h3 class="w3-theme-d1 w3-padding w3-round-large" style="width:fit-content;margin: auto;">The Best Place to Find Code Bites</h3>
<div class="w3-margin"></div>
<div class="main">
  <div class="snippets">
    <ul>
      {% for snippet in snippets %}
          <li class="w3-card w3-theme w3-round-xlarge">
        <a href="{{url_for('snippet', id=snippet._id)}}" style="text-decoration:none;">
          <h4 class="w3-theme-d1 w3-padding w3-round-xlarge" style="margin:0;">{{snippet.title | title}}</h4>
          <p class="w3-padding">{{snippet.short_description}}</p>
        </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}