{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/androidstudio.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<style>
  .code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
</style>
<h2 class="w3-text-theme w3-center">{{snippet.title}}</h2>
<pre style="width:fit-content;margin:auto;">
  <code class="w3-round-large">
    {{snippet.code}}
    <button onclick="copy();">Copy</button>
  </code>
  <p>{{snippet.explanation |safe}}</p>
</pre>
<script>
  function copy(){
    var text = document.getElementById('code_copy');
    text.select();
    text.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(text.value);
  }
</script>
{% endblock content %}
