{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/androidstudio.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<style>
  p>code {
    background-color: #eee;
    color: #09151b;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="main-content">
  <div class="w3-card w3-theme w3-round-large w3-padding w3-margin-top">
    <h2 class="w3-center" style="color:#fff;">{{snippet.title}}</h2>
    <pre>
    <code class="w3-round-large" id='code_copy'>{{snippet.code}}</code>
  </pre>
    {{snippet.explanation |safe}}
  </div>
</div>
{% endblock content %}